{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

    <!-- Заголовок страницы -->
    <div class="general-header-banner">
        <h2 class="general-header-banner-title">Авторизация</h2>
    </div>
    <!-- Заголовок страницы -->


    <!-- Контейнер с формой входа-->
    <div class="container">
        <div class="form-page">

            <!-- Ошибки -->
            {% if messages or form.non_field_errors %}
                <div class="form-alert-container
             {% if messages %} form-alert-success {% else %} form-alert-warning {% endif %}" role="alert">
                    <div class="login-form-alert">
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        {% else %}
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="button" class="form-alert-dismiss-button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <!-- Ошибки -->

            <!-- Форма для входа -->
            <div class="login-form-container">

                <form class="login-form" action="{% url 'users:login' %}" method="post">
                    {% csrf_token %}
                    <div class="general-form-group-vertical">
                        <label class="general-form-label" for="{{ form.username.id_for_label }}">Логин</label>
                        {{ form.username }}
                    </div>
                    <div class="general-form-group-vertical">
                        <label class="general-form-label" for="{{ form.password.id_for_label }}">Пароль</label>
                        {{ form.password }}
                    </div>
                    <div class="general-form-group-vertical">
                        <a class="general-form-label" href="{% url 'social:begin' 'vk-oauth2' %}?next=/">
                            Войти через VK
                        </a>
                        <a class="general-form-label" href="#">Забыли пароль?</a>
                        <input class="general-form-btn" type="submit" value="Авторизоваться">
                    </div>
                </form>
            </div>
            <!-- Форма для входа -->

        </div>
    </div>
    <!-- Контейнер с формой входа-->


{% endblock %}