{% extends 'mainapp/base.html' %}

{% load static %}
{% load humanize %}

{% block content %}


    <!-- Каталог -->
    <div class="catalog-container">
        <div class="container">
            <div id="catalog">
                {% for course in courses %}
                <div class="catalog-item-card">
                    <img src="/media/{{course.image}}" alt="Что такое сервисный дизайн" class="catalog-item-image">
                    <p class="general-heading-mini">{{ course.name }}</p>
                    <div class="catalog-item-price-and-buy">
                        <p class="catalog-item-price">{{ course.price|floatformat:"0"|intcomma}} руб.</p>
                        <a class="catalog-item-buy-button" href="{% url 'baskets:basket_add' course.id %}">В корзину</a>
                    </div>
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
    <!-- Каталог -->

{% endblock %}