{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}


    <!-- Каталог -->
    <div class="catalog-container">
        <div class="container">
            <div id="catalog">
                {% for course in courses %}
                <div class="catalog-item-card">
                    <img src="{% static '' %}img/courses/{{course.image}}" alt="Что такое сервисный дизайн" class="catalog-item-image">
                    <p class="general-heading-mini">{{ course.title }}</p>
                    <div class="catalog-item-price-and-buy">
                        <p class="catalog-item-price">{{ course.price}} руб.</p>
                        <a class="catalog-item-buy-button" data-item_id="{{ course.id }}">В корзину</a>
                    </div>
                </div>
                {%  endfor %}
            </div>
        </div>
    </div>
    <!-- Каталог -->

{% endblock %}