{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}

    <!-- Лэндинг -->
    <div class="landing-top">

        <!-- Встречающий текст -->
        <div class="landing-top-text container ">
            <h1 class="landing-top-text-primary">Онлайн-курсы будущего</h1>
            <p class="general-text landing-top-text-secondary">Начните учиться прямо сейчас! Более 100 онлайн-курсов по компетенциям и навыкам будущего.</p>
            <a href="#" class="landing-top-button">Перейти в каталог</a>
        </div>
        <!-- Встречающий текст -->

    </div>
    <!-- Лэндинг -->


    <!-- Второй контейнер - темы курсов -->
    <div class="topics-we-teach container">
        <h3 class="topics-cards-title general-heading">Главные темы на {% now "d.m.Y" %}</h3>
        <div class="topics-cards-box">
            <div class="topic-card">
                <img class="topic-card-img" src="{% static 'img/topic-card-1.svg' %}" alt="Transformation">
                <h4 class="general-heading-mini">Цифровая трансформация</h4>
                <p class="general-text">Узнайте что дает цифровая трансформация и как управлять управлять изменениями бизнеса</p>
                <a href="#" class="topic-card-link">Подробнее</a>
            </div>

            <div class="topic-card">
                <img class="topic-card-img" src="{% static 'img/topic-card-2.svg' %}" alt="Development">
                <h4 class="general-heading-mini">Разработка цифровых продуктов</h4>
                <p class="general-text">Узнайте как запустить цифровой продукт для внутреннего или внешнего клиента</p>
                <a href="#" class="topic-card-link">Подробнее</a>
            </div>

            <div class="topic-card">
                <img class="topic-card-img" src="{% static 'img/topic-card-3.svg' %}" alt="Design">
                <h4 class="general-heading-mini">Сервисный дизайн</h4>
                <p class="general-text">Узнайте как разрабатывать сервисы, которые буду приносить прибыль вам и счастье клиентам</p>
                <a href="#" class="topic-card-link">Подробнее</a>
            </div>
        </div>
    </div>
    <!-- Второй контейнер - темы курсов -->


    <!-- Текст для контейнера с популярными курсами -->
    <div class="featured-courses container">
        <h3 class="general-heading">Популярные курсы</h3>
        <p class="featured-courses-text">Найдите программу обучения, подходящую вам. Большой курс или интенсив на пару часов? Выбор за вами.</p>
        <div class="featured-courses-item">
            <img src="{% static 'img/course-img-1.png' %}" alt="Course" class="featured-courses-img">
            <p class="featured-courses-title">Интернет вещей: Введение</p>
        </div>
        <div class="featured-courses-group">
            <div class="featured-courses-item featured-courses-item-margin">
                <img src="{% static 'img/course-img-2.png' %}" alt="Course" class="featured-courses-img">
                <p class="featured-courses-title">Проектирование мобильного приложения</p>
            </div>
            <div class="featured-courses-item">
                <img src="{% static 'img/course-img-3.png' %}" alt="Course" class="featured-courses-img">
                <p class="featured-courses-title">Внедрение BI систем</p>
            </div>
        </div>
    </div>
    <!-- Текст для контейнера с популярными курсами -->

{% endblock %}